<div class="b-table">
<table class="my_table table">
	<thead class="table_head">
	<tr>
		<td>#</td>
		<td>Название</td>
		<td>Цена</td>
		<td>%</td>
		<td>Обьем за 24ч</td>
		<td>Капитализация</td>
	</tr>
	</thead>
<% @parse.parse.each do |line| %>
	<tr>
	
		<td><%= line['id'] %></td>
		<td><%= line['name'].capitalize %></td>
		<td style="color: <%= line['color'] %>"><%= format("%.2f", line['price'])%> $</td>
		<td style="color: <%= line['color'] %>"><%= line['percent']%></td>
		<td><%= line['volue'] %></td>
		<td><%= line['market_cap'].to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse %>$</td>
	</tr>
<% end %>
</table>
</div>