<!--
<form action="/post/<%=@post.id%>" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete?">
</form>
-->

<h2>Edit Post</h2>
<form method="post" action="/posts/<%= @post.id %>/edit"> 
    <input type="hidden" name="_method" value="put">
    <input type="text" name="name" value="<%= @post.name %>">
    <input type="text" name="number" value="<%= @post.number %>">
    <input type="text" name="price_by" value="<%= @post.price_by %>">
    <button class="btn btn-primary" type="submit">Update Post</button>
    <a class="btn btn-primary" href="/posts/show">Назад</a>
</form>
